<h1>Отображение данных</h1>

@if (data !== undefined) {
    <p-fieldset>
        
    </p-fieldset>

    <p-table
        [value]="data.items"
        [resizableColumns]="true"
        [reorderableColumns]="true"
        styleClass="p-datatable-gridlines" 
        [tableStyle]="{ 'min-width': '50rem' }"
        [columns]="cols">
        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let col of columns" pReorderableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    @if (isDate(getRowValue(rowData, col.field))) {
                        {{ getRowValue(rowData, col.field) | date:'dd.MM.yyyy' }}
                    }
                    @else {
                        {{ getRowValue(rowData, col.field) }}
                    }
                </td>
            </tr>
        </ng-template>
    </p-table>
}
@else {
    <p-progress-spinner />
}